* {
    box-sizing: border-box;
  }

html,
body {
    margin: 0;
    padding: 0;
    background-color: rgb(120, 174, 199);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

button{
    background-color: rgb(154, 204, 224);
    border: none;
    border-radius: 5px;
    color: white;
    outline: none;
    font-size: 16px;
}

button:hover{
    background-color: rgb(173, 221, 240);
    cursor: pointer;
}

button:active{
    background-color: rgb(120, 170, 200);
}